body { background-color:#0770af; 	}

.tab_m{background-color: #fff;}
.back_menu{ background-color: #0770af;}
.back_blue{ background-color: #e6e9f3;}
.back_bottom { background-image: url(../images/bottom.gif); background-repeat: repeat-x;}
.tab2{ background-image:url(../images/tab_02.gif); background-repeat:repeat-x;}
.tab4{ background-image:url(../images/tab_04.gif); background-repeat:repeat-y;}
.tab6{ background-image:url(../images/tab_06.gif); background-repeat:repeat-y}
.tab8{ background-image:url(../images/tab_08.gif); background-repeat:repeat-x;}
.log2{ background-image:url(../images/log_02.gif); background-repeat:repeat-x;}
.log4{ background-image:url(../images/log_04.gif); background-repeat:repeat-y;}
.log6{ background-image:url(../images/log_06.gif); background-repeat:repeat-y}
.log8{ background-image:url(../images/log_08.gif); background-repeat:repeat-x;}
.ta{ background-color:#0770af; }
.tk{ background-color:#b2d4e9; }
.back_w { background-color:#FFFFFF;}

.t_white {
	font-family: arial,tahoma;
	color: #fff;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}

.t_green{
	font-family: arial,tahoma;
	color: #003451;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}
.t_black{
	font-family: arial,tahoma;
	color: #333;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
}
.t_black2 {
	font-family: arial,tahoma;
	color: #333;
	font-size: 12px;
	text-decoration: none;
	font-weight: normal;
}.t_header{
	font-family: arial,tahoma;
	color: #0062a6;
	font-size: 13px;
	text-decoration: none;
	font-weight:bold;

}
#sddm
{	margin: 0;
	padding: 0;
	z-index: 30}
#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 8pt arial}
#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	background: #0770af;
	color: #FFF;
	text-align: center;
	text-decoration: none}
#sddm li a:hover
{	background: #0770af}
#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #ffffff;
	border: 1px solid #0770af}
	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #ffffff;
		color: #003451;
		font: 8pt arial}
	#sddm div a:hover
	{	background: #0770af;
		color: #FFF}
#msg {
	background-color: #b2d4e9; /* #B3D0E1;*/
	border: 1px solid #8BB7D1;
	margin-top: 0px;
	padding:2px;
	font: 12px "comic sans ms";
	color: #0066FF;
	width: 99.4%;
	text-align: center;
}		

.hypertext {
	color: #0062a6;
	text-decoration: none;
}
.hypertext:hover {
	color: #0066CC;
	text-decoration: none;
}